<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../angular.min.js"></script>
</head>

<body ng-app="">
    <div>
        <h2>Expense Tracker</h2>

        <p>grocery</p>
        <input type="number" ng-model="grocery" />
        <p>Electricity bill</p>
        <input type="number" ng-model="electricity_bill" />
        <p>Gas bill</p>
        <input type="number" ng-model="gas_bill" />
        <p>Transportation</p>
        <input type="number" ng-model="transportation" />
        <p>Medical</p>
        <input type="number" ng-model="medical" />
        <p>Utility bill</p>
        <input type="number" ng-model="utility_bill" />
        <h2>
            total expense is {{grocery+
            electricity_bill+
            gas_bill+
            transportation+
            medical+
            utility_bill}}

        </h2>

    </div>
    <p>-----</p>
    <div ng-init="totalDays=26;salaryPerDay=2400">
        <h2>Attendence Calculation</h2>
        <p>days of attendence</p>
        <input type="number" ng-model="days">

        <h3>
            Your salary is {{days * salaryPerDay}}
            your absents are {{totalDays - days}}


        </h3>
    </div>
    <p>------</p>

    <div ng-init="perUnit=20">
        <h2>Calculate ElectricityUnits</h2>
        <p> units of electricity</p>
        <input type="number" ng-model="electricity_units">
        <h3>Your Totaal bill is {{electricity_units * perUnit}}</h3>
    </div>
    <p>-----</p>
    <div ng-init='perTola=235500'>
        <h2>Calculate Gold</h2>
        <p> Tola of gold</p>
        <input type="number" ng-model="gold">
        <h3>Your Total gold price is {{gold * perTola}}</h3>
    </div>

</body>

</html>