<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
    
        <!-- <h2 class="text-xl font-semibold mt-5">Countries</h2> -->
        <!-- resresenting an array -->
        <!-- <ul ng-repeat="country in countries">
    <li>{{country.length}} {{country}}</li>
        </ul> -->
        <!-- resresenting an ARRAY OF object -->

<div class="flex flex-wrap">

    <div ng-repeat="product in products | orderBy:'-price'"  >
    
        <div class=" my-2 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
         
                <img class="rounded-t-lg w-full h-[200px]" src="{{product.image}}" alt="" />
            
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.name | uppercase}}</h5>
                </a>
                <p class="mb-3 ">{{product.desc}}</p>
                <p class="mb-3 font-semibold ">${{product.price | currency:'Rs':0}}</p>
               
            </div>
        </div>
    
    
    
    
    </div>
</div>


   
</body>

</html>